{% extends 'base.html' %} 
{% block styles %} 
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/product.css') }}"
/>
{% endblock %}
{% block main %} 
  <section id="product">
    <section id="selected-product">
      <header id="product-header" >
        <h1 >{{ product.name }}</h1>
      </header>
      <!-- <section id="likes-area">
      </section> -->
      <form action="" id="form-review__comments">
          <section class="review-comments-textarea">
            <textarea name="comment" name="comment" id="" cols="30" rows="3"></textarea>
          </section>
          <section id="submit-review">
            <p class="likes">{{product.likes}} likes</p>
            <button type="submit" class="btn">Submit review</button>
          </section>
      </form>
      <section id="product-reviews">
      </section>
    </section>
  </section>
{% endblock %}
{% block script %} 
<script src="{{url_for('static', filename='js/dist/index.js')}}"></script>
{% endblock %}

