{% extends 'base.html' %} 

{% block main %} 
<article id="store">
    <section id="store-products-section">
        <h1 id="stores-header">Products</h1>
        <section id="products">
          {% for product in products %}
            <section class="product">
              <h1 class="product-section-header">{{product.product}}</h1>
              <section class="pdct content">
                 <p class="information">{{product.description}}</p>
              </section>
            </section>
          {% endfor %}
        </section>
        <footer id="store-products-footer">
            <section id="store-secton">
                <p>pages from 1 to 3</p>
            </section>
        </footer>
    </section>
  </article>
{% endblock %}


