<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>products</title>
  </head>
  <body>
    <nav id="store-app-nav">
      <ul id="nav-list">
        <li class="nav logo">STORE APP</li>
        <li class="nav stores-nav"> <a href="{{ url_for('stores.stores') }}">STORES</a></li>
        <li class="nav top-stores-nav"><a href="{{ url_for('stores.top_stores') }}">TOP STORES</a></li>
        <li class="nav add-store-nav"><a href="{{ url_for('stores.add_store') }}">ADD STORE</a></li>
      </ul>
    </nav>
    <main>
      {% block main %} {% endblock %}
    </main>
  </body>
</html>
